# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Directories & Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
artifacts/datasets/
artifacts/*.csv
artifacts/*.png

# VSCode / IDEs
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
